root = true

# Global settings for all files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Windows-specific line endings
[*.ps1]
end_of_line = crlf

[*.{bat,cmd}]
end_of_line = crlf

# C# Files - Header and Formatting
[*.cs]
# File header template for C# files
# NOTE: This is enforced by IDE-level rules and code analyzers
file_header_template = // Copyright 2025-2026 Gianni Rosa Gallina and Contributors\n//\n// Licensed under the Apache License, Version 2.0 (the "License");\n// you may not use this file except in compliance with the License.\n// You may obtain a copy of the License at\n//\n//     http://www.apache.org/licenses/LICENSE-2.0\n//\n// Unless required by applicable law or agreed to in writing, software\n// distributed under the License is distributed on an "AS IS" BASIS,\n// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n// See the License for the specific language governing permissions and\n// limitations under the License.

# Indentation and spacing
indent_style = space
indent_size = 4
tab_width = 4

# C# Naming Conventions
dotnet_naming_style.pascal_case_style.required_prefix = 
dotnet_naming_style.pascal_case_style.required_suffix = 
dotnet_naming_style.pascal_case_style.word_separator = 
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

dotnet_naming_style.camel_case_style.required_prefix = 
dotnet_naming_style.camel_case_style.required_suffix = 
dotnet_naming_style.camel_case_style.word_separator = 
dotnet_naming_style.camel_case_style.capitalization = camel_case

dotnet_naming_style.private_field_style.required_prefix = _
dotnet_naming_style.private_field_style.required_suffix = 
dotnet_naming_style.private_field_style.word_separator = 
dotnet_naming_style.private_field_style.capitalization = camel_case

dotnet_naming_style.interface_style.required_prefix = I
dotnet_naming_style.interface_style.required_suffix = 
dotnet_naming_style.interface_style.word_separator = 
dotnet_naming_style.interface_style.capitalization = pascal_case

# XML Documentation Comments
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

# Markdown Files - Optional Header
[*.md]
# Markdown files with licenses should include copyright notice
insert_final_newline = true
trim_trailing_whitespace = true

# XML/XAML Files - Header
[*.{xml,xaml,csproj}]
indent_style = space
indent_size = 2

# JSON Files
[*.json]
indent_style = space
indent_size = 2
